@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

// ? Reassign any bulma variables
$family-sans-serif: "DM Sans", sans-serif;

// ! example on how to customize, skip to section "Add your own Bulma styles":
// https://bulma.io/documentation/customize/with-sass-cli/

// ? Import bulma
@import "../../node_modules/bulma/bulma.sass";

main {
  background: #989393 ;
}